.homeIlustration{
    width: 85%;
    margin: auto;
    display: block;
    margin-top: 10%;
}
.ngDominican{
    width: 20%;
    margin: auto;
    display: block;
    margin-top: 15%;
}
.loginIcon{
    width: 50%;
    margin: auto;
    display: block;
}