.homeIlustration{
    width: 80%;
    margin: auto;
    display: block;
    margin-top: 28%;
}
.ngDominican{
    width: 20%;
    margin: auto;
    display: block;
    margin-top: 15%;
}
.homeButton{
    width: 95%;
    margin: auto;
    display: block;  
}
