<!-- Contenedor general -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-6 col-md-5 col-lg-4 col-xl-3">
            <!-- Ilustración -->
            <img class="homeIlustration" title="ngx-Health" alt="ngx-Healt" src="../../../../../assets/ilustrations/undraw_doctor_kw5l.png">
            <!-- Ilustración -->
            <!-- Titulo de la App -->
            <h1 class="text-center mt-4 redFont ProductSans display-4">ngx-Health</h1>
            <!-- Titulo de la App -->
            <!-- Boton para ir al login -->
            <button class="btn btn-lg btn-block redBackground ProductSans text-white text-center mt-3 homeButton" (click)="goToLogin()">Iniciar sesión</button>
            <!-- Boton para ir al login -->
            <!-- Texto para el registro -->
            <p class="lead redFont ProductSans text-center mt-3 cursorPointer" (click)="goToRegister()">¿No tienes cuenta? regístrate</p>
            <!-- Texto para el registro -->
            <!-- Agradecimientos -->
            <img class="ngDominican" title="ngx-Health" alt="ngx-Healt" src="../../../../../assets/icons/ngDominican.png">
            <p class="redFont ProductSans text-center m-0 mt-3">Powered by:</p>
            <p class="redFont ProductSans text-center font-weight-bold m-0 mb-5">ng-Domincan Study Group</p>
            <!-- Agradecimientos -->
        </div>
    </div>
</div>
<!-- Contenedor general -->